<div class="m-0 vh-100 row justify-content-center align-items-center body-fondo">
  <div class="col-auto" >
    <div class="card px-5 py-5" style="background-color: rgba(0, 0, 0, 0.8);">
      <div class="card-body">
        <form>
          <h3 for="exampleInputEmail1" class="form-label" style="color: white;"><strong>Inicio de Sesión</strong></h3>
          <div class="my-3">
            <input type="email" class="form-control bg-secondary" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Usuario" style="color: white;">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control bg-secondary" id="exampleInputPassword1" placeholder="Contraseña" style="color: white;">
          </div>
          <div class="d-grid py-3">
            <a class="btn btn-primary" type="button" (click)="handleSelected()">Iniciar Sesión</a>
          </div>
          <div class="d-grid">
            <a href="#">Olvide mi contraseña</a>
          </div>
          <div class="d-grid pt-3">
            <p style="color: white;">
              ¿Aún no tienes una cuenta?
            <a href="#">Registrate aquí</a>
          </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
